.cuadrado{
    width: 100px;
    height:102px;
    right: 196px;
    box-sizing: border-box;
    position: relative;
    background-color: red;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.cuadradoAzul{
    width: 100px;
    height: 102px;
    position: relative;
    left: 120px;
    bottom: 1px;
    box-sizing: border-box;
    background-color: blue;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
}

.cuadradoVerde{
    width: 100px;
    height: 102px;
    position: relative;
    left: 120px;
    bottom: 1px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    background-color: green;
    border: 2px solid black;
}