.contenedor-logo{
    display: flex;
    justify-content: right;
}

.logo-1{
    
    height: 35px;
    margin-right: 40px;
}

.logo-2{
    
    height: 35px;
}

.color{
    background-color: red;
}

